
.icon-angle-up-1:before { content: '\e800'; } /* '' */
.icon-telegram:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-email:before { content: '\e805'; } /* '' */
.icon-map:before { content: '\e806'; } /* '' */
.icon-post:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-content-two:before { content: '\e809'; } /* '' */
.icon-share:before { content: '\e80b'; } /* '' */
.icon-content:before { content: '\e80c'; } /* '' */
.icon-market:before { content: '\e80d'; } /* '' */
.icon-pro:before { content: '\e80e'; } /* '' */
.icon-car:before { content: '\e80f'; } /* '' */
.icon-money:before { content: '\e810'; } /* '' */
.icon-ship:before { content: '\e811'; } /* '' */
.icon-fire:before { content: '\e812'; } /* '' */
.icon-true:before { content: '\e813'; } /* '' */
.icon-freight:before { content: '\e814'; } /* '' */
.icon-angle-right:before { content: '\e815'; } /* '' */
.icon-angle-left:before { content: '\e816'; } /* '' */
.icon-angle-down:before { content: '\e817'; } /* '' */
.icon-angle-up:before { content: '\e818'; } /* '' */
.icon-bars:before { content: '\e819'; } /* '' */
.icon-close:before { content: '\e81a'; } /* '' */
.icon-search:before { content: '\e81c'; } /* '' */
.icon-minus:before { content: '\e81d'; } /* '' */
.icon-plus:before { content: '\e81e'; } /* '' */
